.booking-modal {
  max-width: 900px;

  .ant-modal-content {
    padding-inline: 0;
  }
}

.booking {
  .ant-picker {
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 24px;
  }

  &__content {
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 400px;
      position: relative;

      img {
        width: fill-available;
      }

      @media (max-width: calc(576px - 1px)) {
        height: 200px;
      }
    }

    &-booked {
      position: absolute;
      top: 24px;
      right: 24px;
    }

    &-info {
      display: flex;
    }

    &-type {
      text-transform: capitalize;
    }

    &-rating {
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    &-details {
      display: flex;
      justify-content: space-between;
      padding-inline: 24px;
      margin-top: 24px;

      @media (max-width: calc(576px - 1px)) {
        flex-direction: column;

        > div:first-child {
          margin-bottom: 24px;
        }
      }
    }

    &-price {
      margin-top: 0;
      font-size: 16px;
    }

    &-sum {
      display: flex;
      justify-content: space-between;

      &.-fee {
        p {
          margin-bottom: 0;
        }
      }

      &.-total {
        font-weight: bold;
      }
    }
  }
}

.ant-picker-panel-container {
  .ant-picker-presets {
    min-height: 25rem !important;
  }
  @media (max-width: 800px) {
    overflow: scroll !important;
    height: 400px;
    .ant-picker-panel-layout {
      flex-direction: column !important;

      .ant-picker-presets {
        max-width: 100% !important;
        min-height: 10rem !important;
      }

      .ant-picker-panels,
      .ant-picker-datetime-panel {
        flex-direction: column !important;
      }
    }
  }
}
